*.mo
*.pyc
*.pyo
*.egg-info
/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
/include
/lib
/.Python
/devsrc/
/.codeintel/

# MacOSX
.DS_Store

# eclipse
.project
.pydevproject

# mr.developer / local development
.installed.cfg
.mr.developer.cfg
local.cfg
